<form #ngForm="ngForm" class="phoenix-form"> 
  <div class="form-group row">
    <input type="radio" name="crontabday" [(ngModel)]="radioValue" value="1" (change)="radioChange()"/>
    <label class="ml-10">每日</label>
  </div>

  <div class="form-group row">
    <input type="radio" name="crontabday" [(ngModel)]="radioValue" value="2" (change)="radioChange()"/>
    <label class="ml-10">不指定</label>
  </div>

  <div class="form-group row">
    <input type="radio" name="crontabday" [(ngModel)]="radioValue" value="3" (change)="radioChange()"/>
    <label class="ml-10">
      周期从
      <input type="number" class="form-control" name="cycle01" [(ngModel)]="cycle01" min="0" max="23" (change)="inputChange('3')"/> -
      <input type="number" class="form-control" name="cycle02" [(ngModel)]="cycle02" min="0" max="23" (change)="inputChange('3')"/> 日
    </label>
  </div>

  <div class="form-group row">
    <input type="radio" name="crontabday" [(ngModel)]="radioValue" value="4" (change)="radioChange()"/>
    <label class="ml-10">
      从
      <input type="number" class="form-control" name="average01" [(ngModel)]="average01" min="0" max="23" (change)="inputChange('4')"/> 日开始，每
      <input type="number" class="form-control" name="average02" [(ngModel)]="average02" min="0" max="23" (change)="inputChange('4')"/> 日执行一次
    </label>
  </div>

  <div class="form-group row">
    <input type="radio" name="crontabday" [(ngModel)]="radioValue" value="5" (change)="radioChange()"/>
    <label class="ml-10">
      每月
      <input type="number" class="form-control" name="workday" [(ngModel)]="workday" min="1" max="31" (change)="inputChange('5')"/> 号最近的那个工作日
    </label>
  </div>

  <div class="form-group row">
    <input type="radio" name="crontabday" [(ngModel)]="radioValue" value="6" (change)="radioChange()"/>
    <label class="ml-10">本月最后一天</label>
  </div>

  <div class="form-group row">
    <input type="radio" name="crontabday" [(ngModel)]="radioValue" value="7" (change)="radioChange()"/>
    <label class="ml-10">
      指定
    </label>
    <ng-select class="col-sm-6 p-0 form-control phoenix-select" [options]="monthArr" [multiple]="true" (selected)="inputChange('7')" (deselected)="inputChange('7')" placeholder="可多选"
    name="second" notFoundMsg="{{'general.common.noData' | translate}}" [(ngModel)]="checkboxList">
    </ng-select>
  </div>
</form>